<h1>Editing your profile</h1>
<%= box_grey_start %>
<%= render :partial => "form" %>
<%= box_grey_end %>
<%= box_grey_start %>
<%= link_to image_tag '/images/icons/arrow_left.png', :controller => 'profile', :action => 'index' %>
<%= box_grey_end %>
