<%= box_blue_start %>
<table>
    <tr><td><p><strong>Site stats</strong></p></td></tr>
    <tr><td><p>Total geocaches:</p></td><td style="text-align:right"><p><%=h count_all_geocaches %></p></td>
        <tr><td><p>New this week:</p></td><td style="text-align:right"><%=h count_new_geocaches %></td></tr>
        <tr><td><p>Found this week:</p></td><td style="text-align:right"><%=h count_all_found %></td></tr>
        <tr><td><p>Total users:</p></td><td style="text-align:right"><%=h count_all_users %></td></tr>
</table>
<%= box_blue_end %>
